/* HeroSection.css */
.hero-section {
    background-color: white; 
    color: white; 
    position: relative; 
    z-index: 10; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 750px; 
    flex-direction: column; 
}

.hero-image {
    width: 100%; 
    max-width: 2300px; 
    height: auto; 
    object-fit: cover; 
}

.group-members-heading {
    margin-top: 16px;
    margin-left: 125px;
    font-size: 1.2rem; 
    color: #2c3e50; 
    text-align: left; 
    width: 100%; 
    padding-left: 20px; 
    font-family: 'Arial', sans-serif; 
}

.social-media-links {
    display: flex; 
    gap: 15px; 
    margin-top: 10px; 
    align-self: flex-start; 
    margin-left: 90px; 
}

.social-link {
    color: #3498db; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: color 0.3s ease;
}


.social-link:hover:nth-child(1) { 
    color: #e74c3c; 
}

.social-link:hover:nth-child(2) { 
    color: #0077b5; 
}

.social-link:hover:nth-child(3) { 
    color: #333; 
}